<header class="header trans_300">

  <!-- Top Navigation -->

  <div class="top_nav">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="top_nav_left">
              <form action="post">
                  <div class="input-search">
                      <input type="text" name="searchvalue" [(ngModel)]="searchvalue" placeholder="O que você deseja procurar?" (keydown.enter)="searchKeyEvent($event)"> 
                      <a href="#" [routerLink]="['/search']"  [queryParams]="{value: searchvalue}"><i class="fa fa-search"></i></a>
                  </div>
              </form>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="top_nav_right">
            <ul class="top_nav_menu">

              <!-- Currency / Language / My Account -->

              <li class="currency">
                <a href="#">
                  BRL
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="currency_selection">
                  <li><a href="#">usd</a></li>
                  <li><a href="#">eur</a></li>
                </ul>
              </li>
              <li class="language">
                <a href="#">
                  Português
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="language_selection">
                  <li><a href="#">English</a></li>
                  <li><a href="#">Spanish</a></li>
                </ul>
              </li>
              <li class="account" *ngIf="!authGuardService.userIsLogged()">
                <a href="#">
                  Minha Conta
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="account_selection">
                  <li><a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Entrar</a></li>
                  <li><a routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Cadastrar</a></li>
                </ul>
              </li>
              <li class="account" *ngIf="authGuardService.userIsLogged()">
                <a href="#">
                  {{currentUser.name}}
                  <i class="fa fa-angle-down"></i>
                </a>
                <ul class="account_selection">
                  <li><a routerLink="/account"><i class="fa fa-user" aria-hidden="true"></i>Minha Conta</a></li>
                  <li><a href="#" (click)="logout()"><i class="fa fa-times-circle" aria-hidden="true"></i>Sair</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->

  <div class="main_nav_container">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-right">
          <div class="logo_container">
            <a href="#"><img src="assets/img/logo.png"></a>
          </div>
          <nav class="navbar">
            <ul class="navbar_menu">
              <li><a href="#">home</a></li>
              <li><a href="#">departamentos</a></li>
              <li><a href="#">promoções</a></li>
              <li><a href="#">novidades</a></li>
              <li><a href="#">contato</a></li>
            </ul>
            <ul class="navbar_user">
              <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
              <li class="checkout">
                <a routerLink="/cart">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span id="checkout_items" class="checkout_items">{{cartService.cart.length}}</span>
                </a>
              </li>
            </ul>
            <div class="hamburger_container">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>

<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
  <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="hamburger_menu_content text-right">
    <ul class="menu_top_nav">
      <li class="menu_item has-children" *ngIf="!authGuardService.userIsLogged()">
        <a href="#">
          Minha Conta
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="menu_selection">
          <li><a routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Entrar</a></li>
          <li><a routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Cadastrar</a></li>
        </ul>
      </li>

      <li class="menu_item has-children" *ngIf="authGuardService.userIsLogged()">
          <a href="#">
            Minha Conta
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="menu_selection">
            <li><a routerLink="/account"><i class="fa fa-sign-in" aria-hidden="true"></i>Meus Dados</a></li>
            <li><a href="#" (click)="logout()"><i class="fa fa-user-plus" aria-hidden="true"></i>Sair</a></li>
          </ul>
        </li>
      <li class="menu_item"><a href="#">home</a></li>
      <li class="menu_item"><a href="#">departamentos</a></li>
      <li class="menu_item"><a href="#">promoções</a></li>
      <li class="menu_item"><a href="#">novidades</a></li>
      <li class="menu_item"><a href="#">contato</a></li>
    </ul>
  </div>
</div>