<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/home">Minha Conta</a></li>
                <li class="active"><a routerLink="/login"><i class="fa fa-angle-right" aria-hidden="true"></i>Meus Dados</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              
              <app-backoffice-menu currentpage="account"></app-backoffice-menu>

              <!-- Content -->
              <div class="benefit no-margin-top">
                <div class="container">
                  <div class="row benefit_row benefit_row_logged">
                    <div class="col-lg-6 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon benefit_icon_small"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                          <p>{{userData.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon benefit_icon_small"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                          <p>{{userData.email}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="benefit no-margin-top">
                <div class="container">
                  <div class="row benefit_row benefit_row_logged">
                    <div class="col-lg-6 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon benefit_icon_small"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                          <p *ngIf="userData.profile == 'buy'">Comprador</p>
                          <p *ngIf="userData.profile == 'seller'">Vendedor</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon benefit_icon_small"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                          <p *ngIf="userData.activated">Usuário Ativo</p>
                          <p *ngIf="!userData.activated">Usuário Inativo</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>