<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/account">Minha Conta</a></li>
                <li class="active"><a routerLink="/users"><i class="fa fa-angle-right" aria-hidden="true"></i>Usuários</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              
              <app-backoffice-menu currentpage="users"></app-backoffice-menu>

              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let user of users">
                    <th scope="row">{{user.name}}</th>
                    <td>{{user.email}}</td>
                    <td class="td-option">
                      <i class="fa fa-toggle-on" *ngIf="user.activated" (click)="disable(user)" title="Desabilitar"></i>
                      <i class="fa fa-toggle-off" *ngIf="!user.activated" (click)="enable(user)" title="Habilitar"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>