
<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
</style>

<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/account">Minha Conta</a></li>
                <li><a routerLink="/products"><i class="fa fa-angle-right" aria-hidden="true"></i>Produtos</a></li>
                <li class="active"><a routerLink="/product-new"><i class="fa fa-angle-right" aria-hidden="true"></i>Novo Produto</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              <app-backoffice-menu currentpage="products"></app-backoffice-menu>
              <div class="row">
                  <div class="col-lg-6 page-middle_col">
                    <div class="page-middle_item first">
                      <h1>Preencha os dados</h1><br>
                      <form action="post">
                        <div class="container-form">
                          <input id="input_name" [(ngModel)]="formData.name"  class="form_input input_name input_ph" type="text" name="name" placeholder="Nome" required="required" data-error="Nome é obrigatório.">
                          <input id="input_price" [(ngModel)]="formData.price"  class="form_input input_price input_ph" type="number" name="price" placeholder="Preço" required="required" data-error="O preço é obrigatório.">
                          <input id="input_description" [(ngModel)]="formData.description"  class="form_input input_description input_ph" type="text" name="description" placeholder="Descrição" required="required" data-error="A descrição é obrigatória.">
                          <select id="input_departament" [(ngModel)]="formData.departament"  class="form_input input_departament input_ph" name="departament" required="required" data-error="O departamento é obrigatório">
                            <option value="car">Carro</option>
                            <option value="clothes">Roupas</option>
                            <option value="sneaker">Tênis</option>
                            <option value="glass">Óculos</option>
                            <option value="house">Imóvel</option>
                          </select>
                        </div>
            
                        <div>
                          <button (click)="sendForm()" type="button" class="red_button message_submit_btn trans_300">Cadastrar</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-6 page-middle_col">
                    <div class="row">
                      <div class="page-middle_item second">
                        <h1>Adicione as fotos</h1><br>
                        <div class="col-md-2 no-padding-left">
                            <input type="file" (change)="fileChange($event)" name="file" />
                        </div>
                      </div>  
                    </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>