.row-upload-table{
    margin-top: 20px;
}

.progress {
    margin-bottom: 20px;
}

.no-padding-left {
    padding-left: 0;
}

.row-upload-table {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 98%;
}

.row-upload-table .btn {
    margin-right: 20px !important;
}

.first {
    width: 90%;
}