/* Menu */
.logged-page-top-menu {
    width: 100%;
    height: 30px;
    background-color: #e4e4e4;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;

}

.logged-page-top-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logged-page-top-menu ul li.active {
    background-color: #e65540;
    border-right: solid 1px #e65540;
    font-weight: 600 !important;
    font-size: 13px;
}

.logged-page-top-menu ul li{
    border-right: solid 1px #d2d0d0;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    cursor: pointer;
    color: #666;
    font-size: 13px;
}
.logged-page-top-menu ul li:last-child{
    border-right: 0;
}

.logged-page-top-menu ul li:hover{
    background-color: #e65540;
    color: #fff !important;
    font-weight: 400 !important;
}

.logged-page-top-menu ul li a:link,
.logged-page-top-menu ul li a:visited,
.logged-page-top-menu ul li a:hover,
.logged-page-top-menu ul li a:active {
    color: #666;
    font-size: 13px;
    font-weight: 400 !important;
}

.logged-page-top-menu ul li.active a:link,
.logged-page-top-menu ul li.active a:visited,
.logged-page-top-menu ul li.active a:hover,
.logged-page-top-menu ul li.active a:active {
    color: #fff;
    font-weight: 400 !important;
}

.logged-page-top-menu ul li:hover a:link,
.logged-page-top-menu ul li:hover a:visited,
.logged-page-top-menu ul li:hover a:hover,
.logged-page-top-menu ul li:hover a:active {
    color: #fff;
    font-size: 13px;
    font-weight: 400 !important;
}


/* Submenu */
.logged-page-top-submenu {
    width: 100%;
    height: 30px;
    background-color: #e65540;
    margin-bottom: 25px;
    border-bottom-left-radius: 2px !important;
    border-bottom-right-radius: 2px !important;

}

.logged-page-top-submenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logged-page-top-submenu ul li{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    font-weight: 400 !important;
}

.logged-page-top-submenu ul li a:link,
.logged-page-top-submenu ul li a:visited,
.logged-page-top-submenu ul li a:hover,
.logged-page-top-submenu ul li a:active{
    color: #fff;
    font-size: 13px;
    font-weight: 400 !important;
}

.logged-page-top-submenu ul li:last-child{
    border-right: 0;
}

.logged-page-top-submenu ul li:hover{
    background-color: #ee6f5c;
}