<div class="logged-page-top-menu">
  <ul>
    <li [className]="currentpage == 'account' ? 'active' : 'inactive'"><a routerLink="/account">Meus Dados</a></li>
    <li *ngIf="loggedUser && loggedUser.profile == 'sell'" [className]="currentpage == 'products' ? 'active' : 'inactive'"><a routerLink="/products">Produtos</a></li>
    <li *ngIf="loggedUser && loggedUser.profile == 'sell'" [className]="currentpage == 'sales' ? 'active' : 'inactive'"><a routerLink="/sales">Minhas Vendas</a></li>
    <li *ngIf="loggedUser && loggedUser.profile == 'buy'" [className]="currentpage == 'shopping' ? 'active' : 'inactive'"><a routerLink="/shopping">Minhas Compras</a></li>
    <li *ngIf="loggedUser && loggedUser.profile == 'manager'" [className]="currentpage == 'users' ? 'active' : 'inactive'"><a routerLink="/users">Usuários</a></li>
  </ul>
</div>

<!-- Top Submenu -->
<div class="logged-page-top-submenu" *ngIf="currentpage == 'account'">
  <ul>
    <li>Alterar Dados</li>
    <li>Excluir Conta</li>
    <li>Alterar Senha</li>
  </ul>
</div>

<!-- Top Submenu -->
<div class="logged-page-top-submenu" *ngIf="currentpage == 'products'">
  <ul>
    <li><a routerLink="/product-new">Novo Produto</a></li>
  </ul>
</div>