<!-- New Arrivals -->

<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>Produtos em Destaque</h2>
        </div>
      </div>
    </div>
    <div class="row row-arrivals">
        <div class="product-item men" *ngFor="let product of arrivals">
          <div class="product discount product_filter">
            <div class="product_image">
              <img src="{{env.baseUrl}}/../ext/assets/{{product.pictures[0]}}" alt="">
            </div>
            <div class="favorite favorite_left"></div>
            <div class="product_info">
              <h6 class="product_name">{{product.name}}</h6>
              <div class="product_price">R$ {{product.price}}</div>
            </div>
          </div>
          <div class="red_button add_to_cart_button" (click)="addToCart(product);">Comprar</div>
        </div>
    </div>
  </div>
</div>