<!-- Slider -->

<div class="main_slider" style="background-image:url(assets/img/slider_2.jpg)">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>Promoção / Dia das mães 2018</h6>
                      <h1>Até 30% off para sua mamãe</h1>
          <div class="red_button shop_now_button"><a href="#">conferir agora</a></div>
        </div>
      </div>
    </div>
  </div>
</div>