.page-middle {
	margin-top: 180px;
	margin-bottom: 50px;
}

.page-middle_row
{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 40px;
}
.page-middle_col
{
	padding-left: 0px;
	padding-right: 0px;
}
.page-middle_item
{
	min-height: 100px;
    padding-left: 15px;
    margin-top: 20px;
    padding-right: 15px !important;
}
.page-middle_col:last-child .page-middle_item
{
	border-right: none;
}

.page-middle_item h1 {
	font-size: 40px;
	font-weight: 500;
}

.page-middle_item {
	padding-right: 70px;
}

.page-middle_item.second {
	padding-right: 20px;
}

.container-form {
	margin-bottom: 24px;
}

#loading_frame {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 9999999999;
	background-color: #fff;
	opacity: 0.8;
	display: none;
	text-align: center;
}

#loading_frame .fa-spin {
	top: 50%;
	margin-top: -30px;
	position: relative;
}

.m-text14 {
    font-size: 18px;
    color: #333333;
    line-height: 1.5;
}

.account-menu {
    padding-left: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.benefit_row_logged {
    padding-left: 0;
    padding-right: 0;
}

.benefit_icon_small i{
    font-size: 15px;
}

.benefit {
    margin-bottom: 25px;
}

.product_image{
	text-align: center;
}

.product_image img{
	max-width: 70%;
	display: inline-block !important;
}

.add_to_cart_button{
	color: #fff !important;
}