<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/home">Home</a></li>
                <li class="active"><a routerLink="/login"><i class="fa fa-angle-right" aria-hidden="true"></i>Acessar Conta</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-6 page-middle_col">
            <div class="page-middle_item first">
              <h1>Acesse a sua conta</h1><br>
              <p>Ao preencher seus dados, você poserá ser encaminhado para: </p>
              <div>
                <p>
                    <b>Área do Comprador</b>   
                </p>
              </div>
              <div>
                <p>
                  Nessa área, você poderá finalizar comprar, visualizar seus pedidos e visualizar o status de suas compras.
                </p>
              </div>
              <div>
                  <p>
                      <b>Área do Fornecedor</b>   
                  </p>
                </div>
                <div>
                  <p>
                    Nessa área, você poderá visualizar seus extrato financeiro, cadastrar produtos, visualizar suas últimas vendas e criar campanhas de marketing.
                  </p>
                </div>
            </div>
          </div>
          <div class="col-lg-6 page-middle_col">
            <div class="page-middle_item second">
                <h1>Preencha seus dados</h1><br>
                <form action="post">
                  <div class="container-form">
                    <input id="input_email" [(ngModel)]="formData.identifier" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error=" Email é necessário.">
                    <input id="input_password" [(ngModel)]="formData.password" class="form_input input_website input_ph" type="password" name="name" placeholder="Senha" required="required" data-error="Password é necessário.">
                  </div>
  
                  <div>
                    <button id="review_submit" type="submit" (click)="sendForm()" class="red_button message_submit_btn trans_300" value="register">Entrar</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>