<div class="super_container">

  <!-- Header -->
  <app-header></app-header>

  <div class="page-middle">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">  
          <div class="breadcrumbs d-flex flex-row align-items-center">
            <ul>
              <li><a routerLink="/home">Home</a></li>
              <li class="active"><a routerLink="/register"><i class="fa fa-angle-right" aria-hidden="true"></i>Cadastrar</a></li>
            </ul>
          </div>
        </div>
      </div>
        
      <div class="row page-middle_row">
        <div class="col-lg-6 page-middle_col">
          <div class="page-middle_item first">
            <h1>Faça o seu cadastro</h1><br>
            <p>Muito mais do que um site ou APP de ofertas, somos uma comunidade de apaixonados por promoções e economizar, compartilhar dicas e aproveitar cupons de desconto. Não se perca mais em busca das melhores ofertas, elas estão aqui!</p>
            <div>
              <p>
                  Cadastre-se hoje mesmo e receba as melhores ofertas com ate 90% off!             
              </p>
            </div>
            <div>
              <p>
                Sempre os melhores descontos, nos melhores lugares para comer, para beber e muito mais! Você não vai perder essa, vai?
              </p>
            </div>
            <div>
              <p>
                Entre em contato e conheça as vantagens de ser um fornecedor na PucStore.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 page-middle_col">
          <div class="page-middle_item second">
              <h1>Preencha seus dados</h1><br>
              <form action="post">
                <div class="container-form">
                  <input id="input_name" [(ngModel)]="formData.name" class="form_input input_name input_ph" type="text" name="name" placeholder="Nome" required="required" data-error="Nome é obrigatório.">
                  <input id="input_email" [(ngModel)]="formData.email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="O email deve ser verdadeiro.">
                  <input id="input_password" [(ngModel)]="formData.password" class="form_input input_website input_ph" type="password" name="name" placeholder="Senha" required="required" data-error="Senha é obrigatória.">
                </div>

                <div>
                    <button id="buy" (click)="sendForm('buy')" type="button" class="red_button message_submit_btn trans_300" value="buy">Comprar</button>
                    <button id="sell"(click)="sendForm('sell')" type="button" class="red_button message_submit_btn trans_300" value="sell">Vender</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Footer -->
  <app-footer></app-footer>

</div>