<div class="super_container">

	<!-- Header -->
	<app-header></app-header>

	<!-- Slider -->
	<app-slider></app-slider>

	<!-- New Arrivals -->
	<app-arrivals></app-arrivals>

	<!-- Benefit -->
	<app-benefit></app-benefit>
	
    <!-- Best Sellers -->
	<app-best-sellers></app-best-sellers>

	<!-- Footer -->
	<app-footer></app-footer>

</div>