<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/home">Home</a></li>
                <li class="active"><a routerLink="/cart"><i class="fa fa-angle-right" aria-hidden="true"></i>Carrinho</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let product of products">
                    <th scope="row">{{product.name}}</th>
                    <td>{{product.price}}</td>
                    <td class="td-option">
                      <i class="fa fa-trash" (click)="remove(product.id)" title="Exluir"></i>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div>
                <button type="button" (click)="endCart()" class="red_button message_submit_btn trans_300 top-20">Finalizar</button>
              </div>

          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>