<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/account">Minha Conta</a></li>
                <li class="active"><a routerLink="/shopping"><i class="fa fa-angle-right" aria-hidden="true"></i>Minhas Compras</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              
              <app-backoffice-menu currentpage="shopping"></app-backoffice-menu>

              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Pago</th>
                    <th scope="col">Entregue</th>
                    <th scope="col">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let sale of sales">
                    <td>{{calcDate(sale.moment)}}</td>
                    <td>R$ {{calcValue(sale.products)}}</td>
                    <td *ngIf="sale.paid">Sim</td>
                    <td *ngIf="!sale.paid">Não</td>
                    <td *ngIf="sale.delivered">Sim</td>
                    <td *ngIf="!sale.delivered">Não</td>
                    <td class="td-option">
                      <i class="fa fa-search" title="Ver Produtos"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>