<div class="super_container">

    <!-- Header -->
    <app-header></app-header>
  
    <div class="page-middle">
      <div class="container">
  
        <div class="row">
          <div class="col-lg-12">  
            <div class="breadcrumbs d-flex flex-row align-items-center">
              <ul>
                <li><a routerLink="/account">Minha Conta</a></li>
                <li class="active"><a routerLink="/sales"><i class="fa fa-angle-right" aria-hidden="true"></i>Minhas Vendas</a></li>
              </ul>
            </div>
          </div>
        </div>
          
        <div class="row page-middle_row">
          <div class="col-lg-12 page-middle_col">
            <div class="page-middle_item">
              
              <app-backoffice-menu currentpage="sales"></app-backoffice-menu>

              <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Opções</th>
                      </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let product of products">
                      <th scope="row">{{product.name}}</th>
                      <td>{{product.price}}</td>
                      <td>{{product.departament}}</td>
                      <td class="td-option">
                        <i class="fa fa-search" title="Ver"></i>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Footer -->
    <app-footer></app-footer>
  
  </div>